<section class="px-4 py-36 mx-auto max-w-7xl">
    <div class="grid items-center w-full grid-cols-1 gap-10 mx-auto md:w-4/5 lg:grid-cols-2 xl:gap-32 font-modern">
      <div>
        <p class="mb-2 text-xs font-semibold tracking-wide text-gray-500 uppercase">Error 404</p>
        <h1 class="mb-4 text-2xl font-extrabold leading-tight tracking-tight text-left text-gray-900 md:text-4xl">Oops! The page you're looking for isn't here.</h1>
        <p class="mb-5 text-base text-left text-gray-800 md:text-xl font-light">You might have the wrong address, or the page may have moved.</p>
        <a href="/" class="w-full mb-2 btn btn-lg btn-light sm:w-auto sm:mb-0 bg-prime text-secondary">Back to home</a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=email@domain.com" target="_blank" class="w-full mb-2 btn btn-lg btn-white sm:w-auto sm:mb-0 hover:bg-secondary">Contact us</a>
      </div>
      <div>
        <img src="/img/404.svg" alt="404-not-found" class="h-ful hidden mx-auto lg:block">
      </div>
    </div>
</section>
  