<div class="w-full sm:px-4 font-modern py-11">
    <div class="pb-4">
        <h1 class="font-medium text-2xl">Sensors List</h1>
    </div>
    <section class="flex flex-col lg:flex-row">
        <div class="bg-prime shadow px-4 pb-2 overflow-x-auto lg:w-6/12 md:px-5 h-fit">
            <table class="min-w-full text-sm divide-y divide-gray-200 text-secondary">
                <thead>
                <tr>
                    <th class="p-4 font-medium text-left whitespace-nowrap">
                    <div class="flex items-center">Device</div>
                    </th>
                    <th class="p-4 font-medium text-left whitespace-nowrap">
                    <div class="flex items-center">Connection</div>
                    </th>
                    <th class="p-4 font-medium text-left whitespace-nowrap">
                    <div class="flex items-center">Location</div>
                    </th>
                    <th class="p-4 font-medium text-left whitespace-nowrap">
                    <div class="flex items-center">Status</div>
                    </th>
                </tr>
                </thead>
            
                <% data_sensors_list.forEach(sensor => { %>
                    <tr class="data-sensors cursor-pointer hover:bg-secondary hover:text-black">
                        <input type="hidden" class="id_device" value="<%= sensor.id %>">
                        <td class="p-4 font-medium whitespace-nowrap"><%= sensor.device_name %></td>
                        <td class="p-4 whitespace-nowrap">
                        <% if (sensor.connection) { %>
                            <strong class="bg-[#8BDB81] px-3 py-1.5 rounded text-xs font-medium">Connected</strong>
                        <% } else { %>
                            <strong class="bg-[#FF6464] px-3 py-1.5 rounded text-xs font-medium">Disconnected</strong>
                        <% } %>
                        </td>
                        <td class="p-4 whitespace-nowrap"><%= sensor.device_location_name %></td>
                        <td class="p-4 whitespace-nowrap">
                        <% if (sensor.status) { %>
                            <strong class="bg-[#8BDB81] px-3 py-1.5 rounded text-xs font-medium">Active</strong>
                        <% } else { %>
                            <strong class="bg-[#FF6464] px-3 py-1.5 rounded text-xs font-medium">Inactive</strong>
                        <% } %>
                        </td>
                    </tr>
                <% }) %>

                </tbody>
            </table>
        </div>
        <div class="bg-prime shadow px-4 my-4 md:px-5 pb-2 lg:w-6/12 lg:ml-5 lg:my-0 box-show text-secondary">
            <div class="flex flex-col lg:flex-row-reverse px-2">

                <section class="flex justify-center flex-col items-center">
                    <span>
                        <img src="/img/device-icons/unselect.svg" alt="good condition" class="h-60 w-60 py-3 image-condition">
                    </span>
                    <span>
                        <h1 class="text-xl text-center title-condition">No Condition</h1>
                        <p class="text-sm text-center text-condition">you have not selected an available device in the device list</p>
                    </span>
                </section>
                <section class="py-3 md:py-0">
                    <div class="px-1 py-3">
                        <h1 class="text-xl pb-2">Device</h1>
                        <p class="text-sm default" id="device-name">Undetect</p>
                    </div>
                    <div class="px-1 py-3">
                        <h1 class="text-xl pb-2">Sensors</h1>
                        <div class="flex flex-row flex-wrap gap-2 list-sensors">
                            <span class="badge bg-gray-100 text-gray-900 rounded-md sensor default">No Sensor</span>
                        </div>
                    </div>
                    <div class="px-1 py-3 flex flex-row gap-2">
                        <section class="status-device">
                            <h1 class="text-xl pb-2">Status</h1>
                            <span class="badge bg-gray-100 text-gray-900 px-6 rounded-md font-normal status default">Undetect</span>
                        </section>
                        <section class="connection-device">
                            <h1 class="text-xl pb-2">Connection</h1>
                            <span class="badge bg-gray-100 text-gray-900 px-6 rounded-md font-normal connection default">Undetect</span>
                        </section>
                    </div>
                    <div class="px-1 py-3">
                        <h1 class="text-xl pb-2">Location</h1>
                        <p class="text-sm default" id="device-location">Undetect</p>
                    </div>
                </section>
            </div>
            
            <div class="relative py-5">
                <p class="text-xs absolute bottom-0 text-center md:right-0 lg:text-sm">Last Update : <span id="last-update" class="default"> Undetect</span></p>
            </div>
        </div>
    </section>
</div>




